name = "layang-app"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

# D1 Database Binding
[[d1_databases]]
binding = "layang_app"
database_name = "layang-app"
database_id = "3ea20719-74e2-49ca-8791-3db8810d2ae6"
preview_database_id = "layang_app"
migrations_dir = "drizzle"
 