name = "layang-app"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

# D1 Database Binding
[[d1_databases]]
binding = "DB"
database_name = "layang-app"
database_id = "3ea20719-74e2-49ca-8791-3db8810d2ae6" 
migrations_dir = "migrations"
 